<p id="notice"><%= notice %></p>

<h1>favorites</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td class = 'image'><%= image_tag favorite.photo.image.url %></td>
        <td><%= favorite.photo.content %></td>
        <td><% favorite.photo.products.each do |product| %><%= product.price %><% end %></td>
        

        <td><%= link_to'詳細', photo_path(favorite.photo.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>