<%= form_with(model: label, local: true) do |form| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2>エラーが発生した為、ラベルを保存できませんでした:</h2>

      <ul>
        <% label.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class = "row justify-content-center">
  <div class = "tag_form">
    <div class="field">
      <%= form.label :ラベル名 %>
      <%= form.text_field :name, placeholder: "登録したいラベル名を入力" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
  </div>

  <%= button_to 'ラベル一覧', labels_path,  method: :get, class: "btn btn-primary" %>
  <%= button_to '戻る', labels_path,  method: :get, class: "btn btn-success" %>
</div>
