<div class = "user_edit_heading">
  <h1>プロフィール編集</h1>
</div>

<div class = "row  justify-content-center user_edit_register">
  <%= form_with(model: @user, local: true) do |f| %>  
    <%= f.label :name %>
    <%= f.text_field :name %>
  
    <%= f.label :イメージ %>
    <%= f.file_field :image %>
    
    <%= f.submit "更新" %>
  <% end %>
</div>