<h1>マイページ</h1>
<table>
  <thead>
    <tr>
      <div class = 'image'>
        <% if @user.image? %>
           <%= image_tag @user.image.url %>    
        <% end %>   
 
        
      </div>
    </tr>

    <br>

    <tr>
      <strong>お名前：</strong>
      <%= @user.name  %>
    </tr>

    <br>

    <tr>
      <strong>email:</strong>
      <%= @user.email  %>
    </tr>
  </thead>
</table>

<br>

<table>
<h1>投稿した写真</h1>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td class = 'image'><%= image_tag photo.image.url %></td>
        <td><% photo.products.each do |product| %><%= product.price %><% end %></td>
        <td><% photo.labels.each do |label| %><%= label.name %><% end %></td>
        <td><%= link_to '詳細', photo %></td>
        <td><%= link_to '編集', edit_photo_path(photo) %></td>
        <td><%= link_to '削除', photo, method: :delete, data: { confirm: '削除してもよろしいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

 <% if user_signed_in? && @user == current_user %>
   <%= link_to "プロフィール編集", edit_user_path(current_user) %>
 <% end %>

<%= link_to 'お気に入り一覧', favorites_path  %>