<div class = "row justify-content-center user_show_profile">
  <h1>マイページ</h1>
  <div class = "container">
    <div class = "row">
      <div class = "col-lg-4">
        <p>
          <div class = 'image'>
            <% if @user.image? %>
              <%= image_tag @user.image.url %>    
            <% end %>          
          </div>
        </p>

        <p><strong>お名前：</strong><%= @user.name  %></p>
        <p><strong>email:</strong><%= @user.email  %></p>
      </div>

      <div class = "col-lg-4 show_button">
        <% if user_signed_in? && @user == current_user || current_user.admin == true %>
          <%= button_to "プロフィール編集", edit_user_path(@user.id),  method: :get, class:"btn btn-info" %> 
        <% end %>
      </div>

      <div class = "col-lg-4 show_button">
        <%= button_to "お気に入り一覧", favorites_path(@user.id),  method: :get, class:"btn btn-info" %> 
      </div>
    </div>
  </div>
</div>

<br>

<table>
<h1>投稿した写真</h1>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td class = 'image'><%= image_tag photo.image.url %></td>
        <td><% photo.products.each do |product| %><%= product.price %><% end %></td>
        <td><% photo.labels.each do |label| %><%= label.name %><% end %></td>
        <td><%= button_to '詳細', photo_path(photo.id),  method: :get, class: "btn btn-primary" %></td>

        <% if current_user.id == photo.user_id %>
          <td><%= button_to "編集", edit_photo_path(photo.id),  method: :get, class:"btn btn-success" %></td>
          <td><%= button_to '削除', photo_path(photo.id), method: :delete, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>