<p>
  <strong>Image:</strong>
  <%= image_tag @photo.image.url %>
</p>

<p>
  <strong>値段➀:</strong>
  <%= @photo.price %>
</p>

<p>
  <strong>値段➁:</strong>
  <%= @photo.price %>
</p>



<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
