<!DOCTYPE html>
<html>
  <head>
    <title>PriceNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "写真投稿", new_photo_path %>
      <%= link_to "写真一覧", photos_path %>
      <%= link_to "マイページ",  user_path(current_user.id) %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to 'ゲストログイン', tops_guest_sign_in_path, method: :post %>
    <% end %>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <% if current_user.present? %>
      <p>こんにちは、<%= current_user.name %>さん！</p>
    <% else %>
      <p>こんにちは、ゲストさん！</p>
    <% end %>

    <%= yield %>
  </body>
</html>
