<!DOCTYPE html>
<html>

  <head>
    <title>PriceNet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid">

    <header class ="navi_menu row justify-content-between">
      <% if user_signed_in? %>
        <%= link_to "写真投稿", new_photo_path %>
        <%= link_to "写真一覧", photos_path %>
        <%= link_to "マイページ",  user_path(current_user.id) %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% if current_user.admin == true %>
          <%= link_to "管理画面", rails_admin_path %>
        <% end %> 
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ユーザーログイン", new_user_session_path %>
        <%= link_to 'ゲストログイン', tops_guest_sign_in_path, method: :post %>
        <%= link_to '管理者ログイン', tops_admin_guest_sign_in_path, method: :post %>
      <% end %>
    </header>
  
  </div>

    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>

    <% if current_user.present? %>
      <p>こんにちは、<%= current_user.name %>さん！</p>
    <% else %>
      <p>こんにちは、ゲストさん！</p>
    <% end %>

    <%= yield %>
   
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

  </body>
  <footer class="footer_image">
    <p>Price_Net</p>
  </footer>

</html>
